@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --dark: #9c48e2;
    --light: #da6eda;
    --borders: #ffff4f;
    --back: #f0f2f8;
    --other: #ebe9e9;
    --black: #312b2b;

    color: #312b2b;
    color: var(--black);
    font-family: "Raleway", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh; /*fill page vertically, but still get bigger*/
    min-width: 100vw; /*fille page horizontally, but still get bigger*/
    display: flex;
    flex-direction: column;
    margin: 0; 
    background-image: url("../imgs/wavesNegative.svg");
    background-repeat: no-repeat;
    background-position: 0em 29em;
    background-color: var(--back);
}

em {
    color: var(--dark);
    font-style: normal;
}

h2{
    text-transform: uppercase;
    color: var(--dark);
    font-size: 1.3em;
    letter-spacing: -0.05em;
}

#logo i{
    padding: 1em;
    color: var(--dark);
    width: fit-content;
    font-size: 2em;
    margin-left: 2.5em;
    padding-bottom: 0em;
    
}

#logo a{
    
    box-shadow: none;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: var(--back);
    border-radius: 0.2em;
    width:100%;
    overflow: hidden;
    position: fixed;
    padding: 1em;
}

.menu button {
    color: var(--back);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    background-color: var(--dark);
    padding: 1em 1.4em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    display:inline;
}

.signup a,
.feature a{
    color: white;
    text-decoration: none;
}

.menu nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
    margin-left: 25em;
}

.menu nav ul li{
    padding: 1em;
    list-style-type: none;
    font-size: 0.9em;
    margin-right: 2em;
}

.menu a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}

#container{
    display: flex;
    flex-direction: column;
}

#first-page{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-bottom: 15.6em;
    align-items: center;
    padding-top: 9em;
    padding-left: 0;
    text-align: center;
}

#first-page h1{
    font-size: 3em;
}


#first-page p{
    font-size: 1.3em;
    width: 50%;
    margin-top: 0;
    line-height: 1.5;
}
#second-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#second-page h1{
    font-size: 2.4em;
    margin-top: 0em;
}

#second-page p{
    font-size: 1.2em;
    width: 65%;
    margin-top: 0em;
    line-height: 1.7;
}

#second-page button{
    background-color: #9c48e2;
    border: none;
    border-radius: 2.5em;
    padding: 0.7em 4em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 20%);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#third-page{
    padding-top: 7em;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top img{
    width: 50em;
    margin-bottom: 6em;
    
}

#third-page h1{
    font-size: 2.3em;
}

.left{
    display: inline;
    flex-direction: column;
    float: left;
    padding: 0em 1em 0em 14em;
    text-align: left;
}

.left img,
.right img,
.middle img{
    width: 50px;
}


