@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --dark: #8b22e2;;
    --light: #da6eda;
    --borders: #ffff4f;
    --back: #f0f2f8;
    --other: #ebe9e9;
    --black: #312b2b;

    color: #312b2b;
    color: var(--black);
    font-family: "Raleway", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh; /*fill page vertically, but still get bigger*/
    min-width: 100vw; /*fille page horizontally, but still get bigger*/
    display: flex;
    flex-direction: column;
    margin: 0; 
    
    
}

#logo i{
    padding: 0.5em;
    color: var(--dark);
    width: fit-content;
    font-size: 2em;
    margin: 1.5em;
    border-radius: 0.5em;
    border: var(--black) solid 2px;
}

#description {
    padding-top: 20em;
    
}

h1{
    color: white;
    margin-bottom: 0em;
    font-size: 2.2em;
}

h2{

    color: white;
    font-size: 1em;
}

.left-container{
  
    padding-left: 5em;
    position: relative;
    float: left;
    background-image: url("../imgs/imac_picktime_login_v3.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
}

.left-container nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 3em;
    padding-left: 0em;
    padding-bottom: 0.2em;
}

.left-container nav ul li{
    padding-right: 2em;
    font-size: 0.9em;
}

.left-container nav a{
    color: white;
    text-decoration: none;
}

.left-container nav a:hover{
    text-decoration: underline;
}

.right-container{
    position: relative;
    float: left;
    padding-left: 3em;
}

#pin{
    margin-left: 0em;
    margin-top: 1em;
}

#pin nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 2em;
    padding-bottom: 0.8em;
    text-align: left;
    padding-left: 0em;
    border-bottom: solid 1px lightgray;
}

#pin nav ul li{
    padding-right: 1em;
    padding-left: 0.4em;
}

#pin nav a{
    text-decoration: none;
    color: #5c5c5c;
    padding-bottom: 1em;
    font-size: 0.85em;
    font-weight: bold;
}

#pin nav a{
    border-bottom: solid 2px#1976d8;
}

.right-container form{
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}

.right-container input{
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1em 0em;
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 1em;
    color: #5c5c5c;
}

.right-container input[type="text"]{
    color: #312b2b;
}

.right-container button{
    padding: 1.2em 2.2em;
    padding-right: 3em;
    width: 300px;
    color: white;
    border: none;
    border-radius: 0.3em;
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
}

.right-container #login{
    background-color: #674cab;
}

.right-container #register{
    background-color: #63b867;
}

form a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#forgot a{
    color: var(--black);
    font-size: 0.9em;
    text-decoration: none;
}
