@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --dark: #9c48e2;
    --light: #da6eda;
    --borders: #ffff4f;
    --back: #f0f2f8;
    --other: #ebe9e9;
    --black: #312b2b;

    color: #312b2b;
    background-color: #fff;
    color: var(--black);
    background-color: var(--back);
    font-family: 'Raleway', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh; /*fill page vertically, but still get bigger*/
    min-width: 100vw; /*fille page horizontally, but still get bigger*/
    display: flex;
    flex-direction: column;
    margin: 0;    
}

em {
    color: var(--dark);
    font-style: normal;
}

#logo i{
    padding: 1em;
    color: var(--dark);
    width: fit-content;
    font-size: 2em;
    margin-left: 2.5em;
    padding-bottom: 0em;
    
}

#logo a{
    
    box-shadow: none;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: var(--back);
    border-radius: 0.2em;
    width:100%;
    overflow: hidden;
    position: fixed;
    padding: 1em;
}

.menu button {
    color: var(--back);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    background-color: var(--dark);
    padding: 1em 1.4em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    display:inline;
}

#signup a,
#feature a{
    color: var(--back);
    text-decoration: none;
}


.menu nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
    margin-left: 25em;
}

.menu nav ul li{
    padding: 1em;
    list-style-type: none;
    font-size: 0.9em;
    margin-right: 2em;
}

.menu a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}

.first-page {
    display: flex;
    flex-direction: row;
    background-color: var(--back);
    padding: 7em 7em;
}

.first-page img{
    width: 95%;
}

#left, #right {
    width: 100%;
}

#right{
    float: right;
}

button {
    background-color: var(--dark);
    padding: 16px 29px;
    border-radius: 2em;
    border: none;
    display: block;
    box-shadow: 2px 4px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 20%);
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.12px;
}

button:hover{
    background-color:#ad1eff;
    text-decoration: underline;
}

.first-page h1{
    color: var(--black);
    font-size: 3.2em;
    font-weight: bolder;
}

.first-page p {
    font-size: 21px;
    line-height: 40px;
}

.second-page{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 7em;
    padding-top: 6em;
    padding-right: 10em;
    
}

.second-page h2,
.third-page h2,
.fourth-page h2,
.fifth-page h2,
.sixth-page h2,
.seventh-page h2,
.eight-page h2{
    text-transform: uppercase;
    font-size: 1.4em;
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.8em;
    
}

.second-page h1{
    letter-spacing: -2px;
    font-size: 2.6em;
    margin-top: 0em;
}

.second-page p{
    width: 90%;
    font-size: 19.3px;
    line-height: 1.7;
}

.second-page button{
    padding: 0.5em 6em;
    font-size: 18px;
    color: white;
}

.img-grid{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    width: 100%;
}

#grid1, 
#grid2,
#grid3{
    width: 100%;
    justify-items: center;
    text-align: center;
}

#grid1 img,
#grid2 img,
#grid3 img{
    vertical-align: middle;
    width: 100%;
    height: 140px;
    width: 160px;
}

#grid1 p,
#grid2 p,
#grid3 p{
    font-size: 15px;
}

.third-page{
    display: flex;
    flex-direction: row;
    padding: 17em 7em;
    background-color: white;
    background-image: url("https://www.picktime.com/webassets/2021/img/mountains.svg");
    background-repeat: no-repeat;
    padding-bottom: 8em;
}

.third-page h1,
.fourth-page h1,
.fifth-page h1,
.sixth-page h1,
.seventh-page h1,
.eight-page h1{
    font-size: 2.3em;
    margin-top: 0em;
}

.third-page #right{
    padding: 0.5em 0em;
    margin-left: 5em;
    width: 100%;
}

.third-page p{
    font-size: 1.3em;
    line-height: 1.6;
    margin-left: 0.4em;
    margin-top: 0em;
}

.fourth-page{
    background-image: url("../imgs/Payment-and-invoicing-bg.svg");
    background-repeat: no-repeat;
    background-position: -6em;
    background-size: 40em;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5em 7em;
    width: fit-content;
    
}

.fourth-page #right{
    padding: 3em 2.5em;
    width: 100%;
}

.fourth-page p{
    font-size: 1.4em;
    line-height: 1.4;
}

.fifth-page{
    display: flex;
    flex-direction: row;
    background-image: url("https://www.picktime.com/webassets/2021/img/mountains.svg");
    background-color: white;
    background-repeat: no-repeat;
    padding: 15em 7em;
    padding-bottom: 3em;
}

.fifth-page div{
    margin-top: 5em;
}

.fifth-page button{
    padding: 0.4em 3em;
    color: white;
    font-size: 1.1em;
    font-weight: 590;
}

.fifth-page p{
    font-size: 1.3em;
    line-height: 1.5;
}

.sixth-page{
    background-image: url("https://www.picktime.com/webassets/2021/img/Multiple-location-managment-bg.svg");
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-position: -6em;
    margin-top: 0em;
    padding: 0em 0em 4em 12em; 
}

.sixth-page img{
    width: 500px;
}

.sixth-page div{
    padding-top: 5em;
}

.sixth-page #right{
    padding-top: 12em;
    padding-left: 0em;
    padding-right: 12em;
}

.sixth-page p{
    font-size: 19px;
    line-height: 1.5;
}
.seventh-page{
    background-image: url("https://www.picktime.com/webassets/2021/img/Reminders-bg-right.svg");
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    flex-direction: row;
    background-position: right;
    background-position: 55em;
    padding: 3em 7em;
}

.seventh-page img{
    width: 410px;
    padding-left: 6.5em;
    padding-top: 7em;
}

.seventh-page #left{
    padding-top: 12em;
}

.seventh-page p{
    font-size: 21px;
    line-height: 1.5;
}

.eight-page{
    background-image: url("../imgs/Payment-and-invoicing-bg.svg");
    background-color: white;
    display: flex;
    flex-direction: row;
    background-position: -5em;
    background-repeat: no-repeat;
    padding: 15em 4em;
}

.eight-page img{
    width: 480px;
}

.eight-page #right{
    padding-left: 10em;
    padding-right: 5em;
}

.eight-page p{
    font-size: 20px;
    line-height: 1.5;
}

footer{
    background-image: url("https://www.picktime.com/webassets/2021/img/mountains-color.svg");
    background-color: white;
}