@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root{
    --light: #faa178;
    --dark: #83220a;
    --back: #fff;
    --box: #afaeae;
    --border: #000;

    color: #000;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: var(--border);
    background-color: var(--back);
}

body{
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
}

/*******************************************
****************HEADER STYLES***************
********************************************/

header nav{
    
    background-color: var(--dark);
    padding: 0.7em 0.3em;
    align-content: center;
    position: relative;

}

header nav ul{
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    align-items: center;
}
header nav li{
    padding: 0.1em 1.5em;
    
}
header nav li:nth-child(1),
header nav li:nth-child(2){
    border-right: var(--back) solid 0.1em;
}

header input[type=text]{
    border-radius: 2em;
    border: none;
    background-color: var(--back);
    padding: 0.3em 2.5em;
    justify-content: center;
}

header i{
    position: absolute;
    padding: 0.4em 0.2em;
}

header button{
    background-color: var(--back);
    border: none;
    border-radius: 0.3em;
    padding: 0.2em;
    align-items: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

/*******************************************
****************MAIN STYLES*****************
********************************************/
main h1,
main h2{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1em;
}
.back h1,
.back h2{
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    text-align: center;
    margin-top: 0.5em;
    font-size: 2.5rem;
}

.back h1{
    letter-spacing: 0.2em;
}

.back{
    text-align: center;
    position: relative;
    margin-top: 5em;

}

.back h2{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
}

.back p,
.back button{
    margin-bottom: 0.5em;
}

.back button{
    background-color: var(--dark);
    border-radius: 1em;
    color: var(--back);
    padding: 1em 2em;
    border: none;
    margin-top: 1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

main nav{
    background-color: #83220a;
    background-color: var(--dark);
    padding: 1.2em;
    position: relative;
    top: 0;
}

main nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main nav a,
main nav a:visited,
main nav a:active,
header nav a,
header nav a:visited,
header nav a:active{
    display: block;
    text-decoration: none;
    color: var(--back);
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    margin-left: 5em;
}

.main > div {
    margin: 2em;
}

.main h3{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.main img{
    width: 60%;
    margin-bottom: 1em;
}

.main p{
    width: 80%;
    margin-bottom: 0.5em;
}

/*******************************************
****************FOOTER STYLES***************
********************************************/

footer{
    display: flex;
    color: #fff;
    background-color: #83220a;
    background-color: var(--dark);
    padding: 4em;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
}
footer i{
    padding: 1em 1em;
    color: var(--border);
}

footer img{
    padding: 1em;
    width: 4%;
}

footer span{
    color: var(--back);
    padding: 1em 0;
}

/*******************************************
****************FORM STYLES***************
********************************************/

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form > div{
    display: flex;
    margin: 1em 0;
    flex-direction: column;
}

form label,
form legend,
form select {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0.5em;
}

form input,
form select {
    background: rgba(56, 53, 9, 0.1);
    outline: none;
    border-radius: 0.3em;
    border: none;
    font-size: 1em;
    padding: 1em 4em;
    align-items: flex-start;
}

form button {
    background-color: #83220a;
    background-color: var(--dark);
    color: var(--back);
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
    align-items: center;
    margin-bottom: 1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

form button a,
form button a:visited,
form button a:active {
    display: block;
    text-decoration: none;
    color: var(--back);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: 0.2em solid var(--dark);
  }

button:focus {
    outline: 0.2em solid blueviolet;
}

.steps{
    align-content: center;
    margin: 5em;
    margin-left: 15em;
    margin-bottom: 1.5em;
    padding: 1em 2em;
}
.steps nav{
    background-color: var(--border);
    width: 70%;
    padding: 2em 2em;
    font-size: 1rem;
    border-radius: 0.5em;
}

.steps nav li a:hover {
    
    border-radius: 0.5em;
    border: 0.1em solid var(--light);
    padding: 0.3em;
}

.form h1{
    text-align: left;
    margin-left: 12em;
    font-size: 1.5em;
}

.form legend{
    text-align: left;
    margin-left: 18em; 
    width: 100%;
    text-decoration: underline;
}

.form input,
.form label {
    text-align: left;
    margin-left: 18em; 
    width: 100%;
    display: block;
}

.form textarea{
    margin-left: 21.5em;
    border-radius: 0.5em;
}

.form input[type=datetime-local]{
    margin-left: 22em;
    text-align: left;
    width: 100%;
}

.form select {
    text-align: left;
    margin-left: 18em; 
    width: 70%;
}

.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.radio input{
    margin: 1em;
    width: 100%;
}

.radio input[type=radio],
fieldset input[type=checkbox] {
    position: relative;
}

.form button{
    align-self: center;
    padding: 0.5em 1.5em;
}

.slots{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 5em;
}

.slots th{
    text-decoration: underline;
    width: 100%;
    
}

.slots input,
.slots thead,
.slots select{
    margin-left: 1em;
    width: auto;
    padding: .5em 4em;
    position: relative;
    align-items: center;
    margin-bottom: 1.5em;
}

.slots th {
    margin-bottom: 1em;
}

.slots td {
    text-align: center;
    border-collapse: collapse;
    align-content: center;
    margin-top: 1em;
}

.slots tbody tr:nth-child(odd){
    background-color: var(--light);
    border-radius: 0.5em;
}

.slots table {
    padding: 2em;
}

.slots input[type=text],
.slots input[input=date],
.slots select{
    margin-right: 1em;
    text-align: left;
    width: 60%;
    text-indent: 0%;
    align-content: center;
}

.dates fieldset label {
    margin-top: 1em;
}

.hidden {
   display: none;
}

.add i,
.add button{
   margin-left: 6em;
}

.add button {
    margin-top: 0.5em;
}

.addition {
    display: flex;
    position: relative;
    width: 100%;
}

.addition input {
    position: absolute;
}

/*******************************************
****************ERROR STYLES***************
********************************************/
.error {
    color: red;
    display: block;
    margin-left: 18em;
    background-color: bisque;
    align-self: center;
    padding: 0.1em 1.5em;
    border: 0.2em solid red;
    border-radius: 0.2em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    margin-top: 0.5em;

  }
  