@import url("reset.css"); /*import reset*/
/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root{
    --dark: #263e4a;
    --back: #ebb77e;
    --border: #c99423;
    --other: #a78254;
    --light: #616f70;
    --black: #242424;

    
    color: var(--back);
    /*font-family: 'Bree Serif', serif;
    font-family: 'Space Mono', monospace;*/
    font-family: 'Lekton', sans-serif;
    text-transform: uppercase;
}

body{
    width: 100%;
    min-height: 100vh; /*fill page vertically, but still get bigger*/
    min-width: 100vw; /*fille page horizontally, but still get bigger*/
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    
}

    .home {
        background-image: url("../imgs/bck2.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    
    /**********************************************/
    /*                Nav Styles                  */
    /**********************************************/
    
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        justify-content: center;
    }

    button{
        background-color: transparent;
        border: none;
        margin: 2em;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
        padding: 1em;
    }
    
    header nav li{
        margin-right: 4em;
        text-align: center;
        margin-left: 4em;
        font-size: 1em;
        font-weight: bolder;
    }
    
    header nav a,
    header nav a:visited {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: var(--back);
        margin-top: 4em;
        position: relative;
        border-bottom: solid white 0.5px;
    }
    
    header nav a:hover{
        background-color: var(--light);
        color: #ffffff;
    }

    header nav img{
        width: 50%;
        position: relative;
        margin-top: 2em;
    }
    
    
    
    /**********************************************/
    /*               Main Styles                  */
    /**********************************************/
    
    main {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-bottom: auto;
    }
    
    #description{
        background-color: transparent;
        padding: 6em;
        padding-bottom: 1em;
        text-align: center;
    }
    
    #description i{
        color: transparent;
        text-shadow: 4px 4px 10px red;
    }
    
    #description h1{
        font-family: 'Bad Script', cursive;
        font-size: 2em;
        color: var(--back);
        text-align: center;
        
    }
    
    #description em{
        text-decoration: none;
        font-family: 'Satisfy', cursive;
        font-size: 3em;
    }
    
    #description h2{
        
        text-align: center;
        font-size: 2.5em;
        font-family: 'Bad Script', cursive;
    }
    
    #links{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        width: fit-content;
        margin-left: 22em;
        align-items: center;
    }
    
    #links a{
        margin-top: 0.5em;
        color: var(--back);
        text-align: center;
        align-items: center;
    }

    #links a:hover{
        color: var(--light);
        
    }

    #sec_back {
        background: rgba(0, 0, 0, 0.43);
        margin-left: 15em;
        margin-right: 6em;
        margin-top: 5em;
        filter: alpha(opacity=0.6);
        display: flex;
        position: relative;
        font-family: "Reenie Beanie", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .who {
        margin:7em;
    }

    .who__item--left {
        width: 15%;
        border-radius: 20%;
        position: absolute;
    }

    .write-up {
        text-transform: lowercase;
        margin-left: 10em;
        font-size: 2.5em;
    }
    
    .kristi-regular {
        font-family: "Kristi", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--back);
        text-transform: none;
        font-size: 2.5em;
        line-height: 1.5em;
      }

      .bolden {
        font-family: "Kristi", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--back);
        text-transform: capitalize;
        font-size: 1.5em;
      }

      .content {
        width: 80vw;
        height: 80vh;
        background: #fff0;
        color: var(--back);
    }
    
    .profile-skills {
        display: flex;
        top: 150px;
        position: relative;
        width: 100%;
        align-items: flex-start;
    }
    
    .profile-skills > div {
        width: 32%;
        margin-right: 3%;
        border-radius: 2px;
        position: relative;
    }
    
    ul.skills {
        width: 100%;
        position: relative;
        padding: 25px 35px;
        background: linear-gradient(0deg, var(--c1) 0 10px,	var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%);
    }
    
    ul.skills2 {
        --c1: #9acd32;
    }

    ul.skills:before {
        content: "Skills";
        text-transform: uppercase;
        position: absolute;
        top: -75px;
        height: 50px;
        color: var(--back);
        background-color: var(--b2);
        width: 100%;
        left: 0;
        padding: 15px 15px 0 0;
        text-align: end;
        font-weight: 600;
        z-index: 1;
        transition: var(--t1);
        font-size: 50px;
        line-height: 35px;
        transform: scaleY(1.65);
    }
    
    ul.skills2:before {
        content: "";
    }

    ul.skills:after {
        content: "";
        position: absolute;
        border: 40px solid #fff0;
        border-top-color: var(--b2);
        top: -30px;
        left: 10px;
        z-index: 0;
        transition: var(--t1);
        filter: drop-shadow(0 11px 0.1px var(--w1));
        color: #ffffff;
    }
    
    ul.skills:hover:before,
    label:hover + ul.skills:before,
    input:checked + label + ul.skills:before {
        transition: var(--t1);
        background-color: var(--dark);
        background-position: 0 50%;
    }
    ul.skills:hover:after,
    label:hover + ul.skills:after,
    input:checked + label + ul.skills:after {
        top: -20px;
        transition: var(--t1);
        border-top-color: var(--back);
    }
    
    ul.skills2:hover:before,
    label:hover + ul.skills2:before,
    input:checked + label + ul.skills2:before {
        background-color: var(--dark);
    }
    ul.skills2:hover:after,
    label:hover + ul.skills2:after,
    input:checked + label + ul.skills2:after {
        border-top-color: var(--border);
    }

    ul.skills li {
        --per: 50;
        --dur: calc(calc(var(--per) / 100) * 1.5s);
        margin: 0 0 5px 0;
        list-style: none;
        padding: 20px 0;
        position: relative;
        text-transform: uppercase;
        font-size: 15px;
        color: var(--back);
    }
    
    ul.skills li:before {
        content: "";
        position: absolute;
        background: #1c1c1c;
        height: 16px;
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        border: 1px solid #111;
        border-color: #111 #323232 #323232 #111;
        --track: #2292dd40;
        background: linear-gradient(
            90deg,
            var(--track) calc(calc(var(--per) * 1%) + 4px),
            #1c1c1c calc(calc(var(--per) * 1%) + 4px)
        );
    }
    
    ul.skills2 li:before {
        --track: #ffffff;
    }

    ul.skills li:after {
        content: "";
        height: 11px;
        margin: 0 0 2px 0;
        background: #2187e7;
        position: absolute;
        box-shadow: 0px 0px 10px 1px #00c6ff66;
        left: 3px;
        width: 0%;
        bottom: 0;
        transition: all var(--back) ease 0s;
        animation: start 1s ease 0s 2 alternate;
    }
    
    ul.skills2 li:after {
        background: var(--back);
        box-shadow: 0px 0px 10px 1px #ffffff;
    }

    
    ul.skills li:hover {
        filter: brightness(1.5);
        transition: var(--back);
    }
    
    ul.skills:hover li:after,
    label:hover + ul.skills li:after,
    input:checked + label + ul.skills li:after {
        width: calc(calc(var(--per) * 1%) - 2px);
    }
    
    @keyframes start {
        100% {
            width: calc(calc(var(--per) * 1%) - 2px);
        }
    }
    
    ul.skills2 li:after {
        animation-delay: 0.5s;
    }

    ul.skills li span {
        font-weight: 500;
    }
    
    ul.skills li span:before {
        position: absolute;
        right: -25px;
        top: 43px;
        transition: var(--back);
        content: "";
        opacity: 1;
        border: 7px solid #fff0;
    }
    
    ul.skills li:hover span:before,
    .profile-skills input:checked + label + ul.skills li span:before {
        transition: var(--back);
        right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
        opacity: 1;
        border-right-color: #ffffff;
    }
    
    ul.skills2 li:hover span:before,
    .profile-skills input:checked + label + ul.skills2 li span:before {
        border-right-color: #9acd32;
    }

    ul.skills li span:after {
        position: absolute;
        right: -40px;
        top: 38px;
        transition: var(--back);
        counter-reset: percent var(--per);
        /*content: counter(percent) "%";*/
        content: counter(year);
        color: var(--back);
        opacity: 1 !important;
        padding: 4px 6px;
        border-radius: 1px;
        font-weight: bold;
        pointer-events: none;
    }
    
    ul.skills li:hover span:after,
    .profile-skills input:checked + label + ul.skills li span:after {
        transition: var(--t1);
        right: calc(calc(85 - var(--per)) * 1%);
        right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
        opacity: 1;
        background: var(--c1);
    }
    
    ul.skills2 li:hover span:after {
        background: #ffffff;
    }
    
    /*********************/
    /*** SKILLS VALUES ***/
    /*********************/


    ul.skills li.sk-py { --per: 75; }
    ul.skills li.sk-js { --per: 90; }
    ul.skills li.sk-sql { --per: 65; }
    ul.skills li.sk-wd { --per: 60; }
    ul.skills li.sk-c { --per: 90; }
    ul.skills li.sk-c2 { --per: 90; }
    ul.skills li.sk-r{ --per: 90; }


    /*********************/
    /***** TOP LABELS ****/
    /*********************/

    .profile-skills input {
        display: none;
    }

    .profile-skills label {
        background: var(--w1);
        position: absolute;
        top: -61px;
        left: 22px;
        z-index: 2;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        cursor: pointer;
        transition: var(--t1);
        box-shadow: 0 0 0 0 var(--w1);
    }

    .profile-skills label:before {
        content: "";
        background: #fff0;
        position: absolute;
        top: 12px;
        left: 11px;
        z-index: 2;
        border: 9px solid var(--b2);
        border-top-width: 0;
        border-right-width: 0;
        transform: rotate(-45deg);
        width: 33px;
        height: 22px;
        border-radius: 2px;
        transition: var(--t1);
    }

    .profile-skills label:hover {
        box-shadow: 0 0 0 3px var(--w1);
        transition: var(--t1);
    }

    .profile-skills label:hover:before {
        border-color: var(--b2);
        transition: var(--t1);
    }

    .profile-skills input:checked + label {
        box-shadow: 0 0 0 6px var(--w1);
        transition: var(--t1);
    }

    .profile-skills input:checked + label:before {
        border-color: #2187e7;
    }

    .profile-skills input#sk2:checked + label:before {
        border-color: #9acd32;
    }

    label[for="sk1"] {
        /*left: -10px;*/
    }
    label[for="sk2"] {
        /*left: calc(34% - 6px);*/
    }


    label[for="sk1"]:before {
        border-color: cornflowerblue;
    }
    label[for="sk2"]:before {
        border-color: yellowgreen;
    }

    /*********************/
    /*** BOTTOM LABELS ***/
    /*********************/

    ul.skills li.more {
        padding: 0;
        margin-bottom: 20px;
    }

    ul.skills li.more:before,
    ul.skills li.more:after {
        display: none;
    }

    ul.skills li.more:hover {
        filter: none !important;
    }

    ul.skills li.more div {
        max-height: 0;
        transition: var(--t1);
        overflow: hidden;
        padding: 0;
        width: 100%;
    }
    ul.skills li.more input:checked ~ div {
        max-height: 150px;
        transition: var(--t1);
        padding: 20px 0 0;
    }

    ul.skills li.more div span:before,
    ul.skills li.more div span:after {
        display: none;
    }

    ul.skills li.more label {
        background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
        right: 0;
        left: inherit;
        top: inherit;
        bottom: -70px;
        color: var(--b2);
        background-size: 100% 300%;
        background-position-y: 100%;
        transition: var(--t1);
        width: 55px;
        height: 55px;
        right: -50px;
    }

    ul.skills li.more label:before {
        border: 0;
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
        content: "+";
        content: "\271A";
        font-size: 45px;
        line-height: 55px;
        left: 0;
        top: 0;
        text-align: center;
        color: var(--c1);
    }

    ul.skills li.more label:hover {
        background-position-y: 0%;
        color: var(--w1) !important;
        transition: var(--t1);
        box-shadow: 0 0 0 10px var(--w1);
    }

    ul.skills li.more span {
        background: #1c1c1c;
        border-radius: 1px;
        margin: 10px 10px 1px 1px;
        padding: 4px 8px;
        display: inline-block;
        border: 1px solid #111;
        border-color: #111 #323232 #323232 #111;
    }

    ul.skills li.more span:hover {
        color: var(--w0);
        background: var(--c1);
        box-shadow: 0px 0px 5px 1px var(--c1);
        border-color: #fff2;
    }

    ul.skills li.more input:checked + label {
        box-shadow: 0 0 0 9px var(--w1);
        background-position-y: 0%;
        color: var(--w0);
        bottom: -70px;
    }

    ul.skills li.more input:checked + label:before {
        content: "\2759";
        transform: rotate(90deg);
        font-weight: 600;
    }

    ul.skills li.more input:checked + label:hover {
        box-shadow: 0 0 0 0 var(--w1);
        background-position-y: 100%;
        color: var(--b2) !important;
    }


    /*button {
        background-color: var(--back);
        color: var(--dark);
        border: none;
        display: block;
        padding: 1em;
        font-size: larger;
        flex-direction: column;
        align-items: center;
    }*/
    
    em {
        text-decoration: var(--border) underline;
        font-weight: bolder;
    }    
    
    
    /**********************************************/
    /*               Dark Mode Styles             */
    /*********************************************
    
    .dark-mode {
        color: #f1ebac;
        background-color: #000;
        background-color: var(--black);
        color: var(--light);
    }
    .dark-mode nav a,
    .dark-mode nav a:visited{
    
        color: var(--light);
    
        border-bottom: var(--back) solid 3px;
    
    }
    
    .dark-mode #description h1{
        color: var(--light);
        border: var(--light) 3px solid;
    }
    
    .dark-mode button{
        background-color: var(--black);
        color: var(--light);
    }
    
    .dark-mode nav a:hover{
        background-color: var(--light);
        color: var(--dark);
    }
    
    .dark-mode footer{
    
        background-color: var(--dark);
    
    }
    
    .dark-mode footer a, 
    .dark-mode footer a:visited{
    
        text-decoration: none;
        color: var(--light);
    }
    
    /**********************************************/
    /*               Footer Styles                */
    /**********************************************/
    
    footer{
        display: flex;
        flex-direction: column; 
        align-items: center;  
       
        background-color:#ffffffaf;
        padding: 2em;
        margin-top: 1em;
    }
    
    footer a, 
    footer a:visited{
        margin: 0.5em;
        text-decoration: underline;
        color: var(--dark);
        font-size: 1.5em;
    }
    
    span{
        color: var(--black);
    }


    
    footer{
        display: flex;
        flex-direction: column; 
        align-items: center;  
        justify-items: baseline;
        background-color:#ffffffaf;
        padding: 2em;
        margin-top: 1em;
    }
    
    footer a, 
    footer a:visited{
        margin: 0.5em;
        text-decoration: underline;
        color: var(--dark);
    }
    
    span{
        color: var(--black);
    }
    
@media screen and (max-width: 550px) {
    .home{
        background-image: url("../imgs/bck2.svg");
        background-repeat: repeat;
    }
    .grid main{
        margin-left: 5em;
    }
    
    header{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        justify-content: center;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
        font-size: 0.7em;
    }
    
    header nav li{
        margin-right: 1em;
        text-align: center;
        margin-left: 0em;
        border-bottom: solid var(--light) 0.5px;
    }
    
    header nav a,
    header nav a:visited {
        text-decoration: none;
        display: block;
        padding: 0.5em;
        color: var(--back);
    }
    
    header nav a:active{
        background-color: var(--light);
        color: var(--light);
    }

    main {
        display: flex;
        flex-direction: column; 
        margin-bottom: auto;
        justify-items: left;
    }
    
    #description{
        background-color: transparent;
        margin-bottom: 1em;
        margin-left: 1em;
    }
    
    #description i{
        color: transparent;
    }
    
    #description h1{
        font-family: 'Bad Script', cursive;
        font-size: 1.3em;
        color: var(--back);
        text-align: center;
        margin-bottom: 0.5em;
        
    }
    
    #description h2{
        text-align: center;
        font-size: 0.9em;
        font-family: 'Bad Script', cursive;
        color: var(--back);
    }

 
    .group{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    .group div{
        margin-bottom: 0.5em;
    }
    .group, 
    .group2{
        width: 90%;
        margin: 0.9em;
    }
    
    .group h2,
    .group2 h2{
        width: 100%;
        font-size: 0.8em;
        margin-top: 1em;
        color: #001125;
    }
    
    .group2{
        display: flex;
        flex-direction: column;
        position: relative;  
        margin-left: 0.6em;     
    }
    
    .group a,
    .group2 a{
        color: var(--black);
        width:max-content;
        margin-bottom: 0.2em;
        text-decoration: underline;
        font-size: 0.6em;
    }
    
    em {
        text-decoration: var(--border) underline;
        font-weight: bolder;
    }
    
    .group p,
    .group2 p{
        margin-bottom: 0.5em;
    }
    .group img{
        margin-top: 1em;
        width: 10em;
        margin-bottom: 0.5em;
        
    }
    
    .group2 img{
        margin-top: 1em;
        margin-bottom: 1em;
        width: 10em;
    }

    .content { height: 60vh; }
	.profile-skills {
		flex-direction: row;
    flex-wrap: wrap;
		top: 20px;
	}
	.profile-skills > div {
		width: 47% !important;
	}
	.profile-skills > div:nth-child(3) {
		width: 98% !important;
		margin-top: 120px;
	}
}


@media screen and (min-width: 551px) and (max-width: 1359px){

    
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.5em;
        background-color: transparent;
        justify-content: center;
        margin-bottom: 1em;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
    }
    
    header nav li{
        margin-right: 5em;
        text-align: left;
        margin-left: 0.5em;
        font-size: 0.7em;
        border-bottom: solid var(--light) 0.5px;
    }
    
    header nav a,
    header nav a:visited {
        text-decoration: none;
        display: block;
        color: var(--back);
        font-weight: bold;
    }

    main {
        display: flex;
        flex-direction: column; 
        margin-bottom: auto;
        justify-items: center;
        
    }
    
    #description{
        background-color: transparent;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0.5em;
    }

    #description i{
        color:transparent;
    }
    
    #description h1{
        font-family: 'Bad Script', cursive;
        font-size: 2em;
        color: var(--back);
        text-align: center;
        margin-bottom: 0.5em;
        
    }
    
    #description h2{
        text-align: center;
        font-size: 1.5em;
        font-family: 'Bad Script', cursive;
    }
    
    #links{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 5em;
    }
    
    #links a{
        margin-top: 0.5em;
        color: #b9daff;
        font-weight: bold;
        font-size: 1.2em;
    }

    .group{
        position: relative;
        display: flex;
        flex-direction: column;
    }
   
    .group, 
    .group2{
        width: 50%;
        margin-left: 0em;
    }
    
    .group h2,
    .group2 h2{
        width: 100%;
        font-size: 1em;
        margin-top: 0.2em;
        color: #001125;
    }
    
    .group2{
        display: flex;
        flex-direction: column;
        position: absolute;  
        margin-left: 23em;     
    }
    
    .group a,
    .group2 a{
        color: var(--black);
        width:max-content;
        margin-bottom: 0.2em;
        text-decoration: underline;
    }
    
    em {
        text-decoration: var(--border) underline;
        font-weight: bolder;
    }
    
    .group p,
    .group2 p{
        margin-bottom: 0.5em;
    }
    .group img{
        margin-top: 1em;
        width: 15em;
        margin-bottom: 0.5em;
        
    }
    
    .group2 img{
        margin-top: 1em;
        margin-bottom: 1em;
        width: 16em;
    }

    
}
